.recherche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #005fde;
    background-image: linear-gradient(90deg, #005fde 0%, #fc00ff 100%);
    color: white; /* Couleur du texte en blanc */
    padding: 20px;
}

.navbar {
    background-color: #005fde;
    color: white;
    padding: 10px;
    width: 20%; /* Largeur de la barre de navigation sur le côté */
}

.content {
    flex: 1; /* Le contenu occupe l'espace restant au centre */
    width: 80%; /* Largeur du contenu principal (ajustée) */
    text-align: center;
    padding: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .recherche {
        padding: 10px; /* Réduire l'espacement sur les écrans plus petits */
    }

    .navbar {
        width: 100%; /* Barre de navigation en plein écran sur les écrans plus petits */
    }

    .content {
        width: 100%; /* Contenu principal en plein écran sur les écrans plus petits */
    }

    input[type="text"] {
        margin-bottom: 10px; /* Réduire la marge sous le champ de recherche sur les écrans plus petits */
    }
}
