
.titre h2{
  margin: 0;
}
.cardCreatePostContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.cardCreatePost{
  width: 85%;
  height: 100%;
  background-image: url("https://th.bing.com/th/id/R.7b0731c63c98ac0cd097f762492181b8?rik=mQDG8qlbcrJskg&pid=ImgRaw&r=0");
}
.createPost{
  height: 100vh;
  width: 100vw;
}
.cardCreatePost .titre {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.cardCreatePost .titre h2{
  text-transform: uppercase;
  font-size: 40px;
}
.cardCreatePost .formulaireContainer{
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulaireContainer .form{
  width: 50%;
  height: 60%;
}
.formulaireContainer .form form{
  width: 100%;
  height: 100%;
  max-width: none;
  display: flex;
  flex-direction: column;
}
.formulaireContainer .form form .titrePost{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.formulaireContainer .form form .titrePost input {
  background-color: #131313cf;
  border: none;
  border-radius: 10px;
}
.formulaireContainer .form form .TextAreaPost{
  height: 60%;
  width: 100%;
}
.formulaireContainer .form form .ButonForm{
  height: 20%;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.formulaireContainer .form form .ButonForm button{
  width: 100%;
  border-radius: 10px;
}
.TextAreaPost textarea{
  resize: none;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 2%;
  background-color: #131313cf;
  border: none;
}