
.nav{
    height: 100%;
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(90deg, #000000 0%, #0053c3 100%);
}
nav{
    color: white;
}
.idSite{
    width: 100%;
    height: 15%;
    color: white;
    text-transform: uppercase;
    font-size: large;
}
.lien{
    width: 100%;
    height: 5%;
}
.lien a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size: large;
}